[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3"

[packages]
django = "*"
django-cors-headers = "*"
gunicorn = "*"
mysqlclient = "*"
python-dotenv = "*"
requests = "*"
sentry-sdk = "*"

[dev-packages]
