[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3"

[packages]
beautifulsoup4 = "*"
croniter = "*"
django = "*"
django-cors-headers = "*"
django-filter = "*"
django-modeltranslation = "*"
django-q = {extras = ["sentry"], version = "*"}
graphene-django = "==3.0.0b7"
graphql-relay = "==3.1.0"
gunicorn = "*"
mysqlclient = "*"
pdfreader = "*"
python-dotenv = "*"
requests = "*"
sentry-sdk = "*"

[dev-packages]
