[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3"

[packages]
beautifulsoup4 = "*"
croniter = "*"
django = "*"
django-cors-headers = "*"
django-filter = "*"
django-modeltranslation = "*"
django-q = {extras = ["sentry"], version = "*"}
feedparser = "*"
gunicorn = "*"
mysqlclient = "*"
pdfreader = "*"
python-dotenv = "*"
pytz = "*"
requests = "*"
sentry-sdk = "*"
strawberry-graphql = "*"
strawberry-graphql-django = "*"

[dev-packages]
